@import url("https://fonts.googleapis.com/css2/?family=Oswald&display=swap");
@import url("_reset.css");
@import url("_header.css");
@import url("_footer.css");


body{
    padding: 0;
    background-color: #000;
    font-family: "Oswald", sans-serif;
}
