header{
    background-color: rgb(177, 31, 31);
}

header .header-top{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

header .logo{
    padding: 0;
}

header .logo a{
    display: block;
}

header .title{
    margin: 0 auto;
}

.title h2 {
    font-size: 56px;
    color: #fff;
    letter-spacing: 3px;
}


header nav {

}

header nav ul {
    display: flex;
    justify-content: center;
    /* height: 60px; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;


}

header nav li {

}

header nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav li a:after{
    content: "";
    opacity: 0;
    /* padding: 1px; */
    transition: opacity .4s;
}


header nav li a:hover:after,
header nav li a.active:after {
    content: "";
    background-color: rgb(199, 61, 61);
    padding: 1px;
    display: block;
    opacity: 1;
    transition: opacity .4s;
}


@media (min-width: 992px) {
    header .header-top{
        /* display: flex;
        align-items: center;
        margin: 0 auto; */
        max-width: 1280px;
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    header .header-top{
        padding-left: 48px;
        padding-right: 48px;
    }
}


@media (max-width: 991px) {
    header .header-top{
        padding: 20px 10%;
    }

    .title h2 {
        font-size: 38px;
    }
}
