@import url("common.css");

#seccion_peliculas h1{
    color: #ff5700;
}

#seccion_peliculas main{
    padding: 0 50px;
}

#seccion_peliculas main .container{
    margin-top: 8px;
}

.movies{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 400px));
    /* grid-auto-rows: minmax(0, 1fr); */
    column-gap: 30px;
    row-gap: 35px;
    grid-auto-flow: dense;
    justify-content: center;
}

.movies li {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    background: #272727;
}

.movies li img {
    border-radius: 12px;
}

.movies li h2{
    color: #C0C0C0;
    font-size: 22px;
    padding: 15px 10px 0;
    margin-top: auto;
}

.movies li .badge {
    color: #fff;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff5700;
}

.movies li .release-date {
    color: #ff5700;
}

@media (max-width: 992px) {
    .movies{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    #seccion_peliculas h1{
        text-align: center;
    }
    .movies{
        grid-template-columns: 1fr;
    }

    .movies li h2{
        font-size: 18px;
    }

    .movies li .release-date {
        font-size: 14px;
    }
}
